[Desktop Entry]
Type=Application
Name=Xmodmap Remap
Exec=bash -c "sleep 5 && xmodmap ~/.Xmodmap"
Terminal=false
Comment=Load custom X keyboard mappings
